<div class="flex flex-col items-center py-6">
    <div class="flex w-full flex-row">
        <input-primary [value]="projectId" [placeholder]="'PROJECT ID'" (change_value)="setText($event)" class="flex-1"></input-primary>
        <button-primary (click-action)="searchRepository()" [label]="'search'"></button-primary>
    </div>
    <div *ngFor="let projects of gitlabProjectsDataFiltered">{{ projects.name}}</div>
    <div *ngIf="loading.projectInfo" class="mt-[16px]">
        <p>Loading...</p>
    </div>
    <div *ngIf="!loading.projectInfo && repoDetail.id && !error.projectInfo" class="mt-[16px] flex items-center w-full">
        <div class="flex-1">
            <p>Repository Name: <a class="underline text-blue-500" [href]="repoDetail.web_url">{{repoDetail.name}}</a></p>
        </div>
        <div>
            <input #file_json (change)="processJSON($event)" type="file" class="hidden" accept="application/json">
            <button-primary (click-action)="importJSON()" class="mr-2" [label]="'Import from json'"></button-primary>
            <button-primary (click-action)="exportVariableJSON()" class="mr-2" [label]="'Export as json'"></button-primary>
            <button-primary (click-action)="exportVariable()" class="mr-2" [label]="'Export as .env'"></button-primary>
            <button-primary (click-action)="toggleValueVisibility()" [label]="setLabel()"></button-primary>
        </div>
    </div>
</div>
