<div class="flex flex-col items-center py-6">
    <div class="flex w-full flex-row">
        <input-primary [placeholder]="'PROJECT ID'" (change)="setText($event)" class="flex-1"></input-primary>
        <button-primary (click-action)="searchRepository()" [label]="'search'"></button-primary>
    </div>
    <div *ngIf="loadingRepoDetail" class="mt-[16px]">
        <p>Loading...</p>
    </div>
    <div *ngIf="!loadingRepoDetail" class="mt-[16px] flex items-center w-full">
        <div class="flex-1">
            <p>Repository Name: <a class="underline text-blue-500" [href]="repoDetail.web_url">{{repoDetail.name}}</a></p>
        </div>
        <div>
            <button-primary (click-action)="toggleValueVisibility()" [label]="setLabel()"></button-primary>
        </div>
    </div>
</div>
