<div class="min-h-screen relative flex flex-col">
    <navbar class="flex-none sticky top-0"></navbar>
    <div class="flex-1 overflow-y-auto flex flex-col justify-start max-w-4xl mx-auto container">
        <search-repository class="w-full"></search-repository>
        <div *ngIf="loading.variable">
            loading...
        </div>
        <div *ngIf="!loading.variable && !error.variable" class="flex flex-col">
            <single-var-gitlab *ngFor="let data of variableGitlabList" [item]="data"  class="mb-6"></single-var-gitlab>
        </div>
        <div *ngIf="!loading.variable && error.variable" class="flex items-center justify-center text-red-500">
            {{ error.variable.error?.message ?? "Error"}}
        </div>
    </div>
    <footer class="flex-none"></footer>
</div>
